<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rolepoint Demo</title>
</head>
<body>
    <h2>Role point Contacts Demo</h2>
    </hr>
    <form method="POST" action="/search">
        <input type="text" name="name" value="">
        <input type="submit" value="Search Contact(s)">
    </form>
    </br>
    <table id="contacts" width="75%">
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>City</th>
            <th>Country</th>
            <th>Previous Jobs Held In</th>
        </tr>
        {% for contact in contacts %}
            <tr align="center">
                <td>{{ contact.name }}</td>
                <td>{{ contact.company }}</td>
                <td>{{ contact.city }}</td>
                <td>{{ contact.country }}</td>
                <td>{{ contact.job_history }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>